/* largeur lien personnaliser */
.up-gallery .handle a span { 
    font-size: 0.9em;
    margin-right: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 25px;
    padding-top: 2px;
}